html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  background: #0d0d0d; /* Fondo oscuro */
  color: #00ffcc; /* Texto en color ciberpunk */
}

.overflow {
  height: 50%;
  overflow: hidden;
  background: linear-gradient(135deg, #1a1a1a 0%, #333 100%);
  border: 2px solid #ff00ff;
  box-shadow: 0px 0px 15px #ff00ff, 0px 0px 25px #00ffcc;
}

.overflow .card-img-top {
  transform: scale(1);
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  filter: brightness(0.75) saturate(1.5);
  border: 2px solid #ff00ff;
}

.overflow .card-img-top:hover {
  transform: scale(1.8);
  filter: brightness(1) saturate(2.5);
  box-shadow: 0px 0px 20px #ff00ff, 0px 0px 30px #00ffcc;
}

#nprogress .bar {
  background: #ff0099 !important;
  box-shadow: 0px 0px 10px #ff0099, 0px 0px 20px #00ffcc;
}

#nprogress .spinner-icon {
  border-top-color: #ff0099;
  border-left-color: #00ffcc;
  box-shadow: 0px 0px 10px #ff0099, 0px 0px 20px #00ffcc;
}
